.footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 20px;

  background: #f8f9fa;
  color: #333;
  text-align: center;

  border-top: 2px solid #652b1c;

  font-size: 0.95rem;
}

.subtext {
  color: #555;
  font-size: 0.85rem;
  margin-top: 5px;
}

.footer strong {
  color: #652b1c;
}

@keyframes fadeFooter {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  animation: fadeFooter 0.4s ease;
}
