* {
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
  height: 75vh;
  background-image: url("https://revistamensch.com.br/wp-content/uploads/2025/11/capa-PALADAR-SP.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.mainTitle {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.reservasBtn {
  background-color: #a63a2b;
  border: none;
  padding: 16px 45px;
  font-size: 1.4rem;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.reservasBtn:hover {
  background-color: #922f22;
  transform: translateY(-3px);
}

@media (max-width: 1024px) {
  .mainTitle {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .hero {
    height: 65vh;
  }
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 2.3rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .reservasBtn {
    padding: 12px 30px;
    font-size: 1.1rem;
  }

  .hero {
    height: 55vh;
  }
}

@media (max-width: 480px) {
  .mainTitle {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .reservasBtn {
    padding: 10px 22px;
    font-size: 0.9rem;
  }

  .hero {
    height: 50vh;
  }
}